/* =============
    Variables
============= */

// Define the breakpoints
// Small tablets and large smartphones
$screen-sm-min: 576px;

// Small tablets
$screen-md-min: 768px;

// Large tablets and small desktops
$screen-lg-min: 992px;

// Large desktops
$screen-xl-min: 1200px;

// Colors
$white: #FFFFFF;
$black: #000000;
$gray: #2A3036;
$gray-light: #F8F9FA;
$slate: #637275;
$yellow: #FFD205;
$yellow-darker: #E2BA06;
$tan: #E0DFD5;
